// Google Roboto Font
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Variables
$background-color: #575656ce;
$text-color: #f3f3f3;
$text-color2: #444444;
$divider-color: #a19f9f;
$box-width: 800px;
$button-bg: #918c8c;
$button-hover-bg: #383837d7;

// Functions
@mixin wrapper-property {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

@mixin box-property {
  display: flex; 
  padding: 0 10px;
  width: $box-width;
  border-radius: 6px;
  background-color: $background-color;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: $text-color;
}

@mixin select-props {
  width: 100%;
  z-index: 100;
}

@mixin sub-box-props {
  display: flex;
  align-items: center;
  height: 80px;
  margin: auto 5px;
}

@mixin footer-property {
  @include wrapper-property();
  flex-direction: column;
}

@mixin divider-property {
  width: 100%;
  border: 1px solid $divider-color;
}


body {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

.app-wrapper {
  @include wrapper-property();
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 40px;

  .footer {
    bottom: 0;
  }
}

.search-wrapper {
  @include wrapper-property();
  margin: 50px 0 0 0;

  .search-bar {
    @include box-property();
    height: 89px;
    justify-content: flex-start;
    font-size: 25px;
    color: $text-color2;

    .divider {
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 4px;
      background-color: $divider-color;
      margin: auto 10px;
    }

    .language-box {
      @include sub-box-props();
      width: 50%;

      .language-select {
        @include select-props();
        outline: none;
      }
    }

    .statement-box {
      @include sub-box-props();
      width: 100%;

      .statement-select {
        @include select-props();
      }
    }

    .button-box {
      display: flex;
      margin: auto 5px; 
      justify-content: center;
      align-items: center;
      width: 20%;

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 48px;
        font-size: 30px;
        border: none;
        color: $text-color;
        border-radius: 3px;
        background-color: $button-bg;

        &:hover {
          background-color: $button-hover-bg;
        }
      }
    }
  }
}

// Initial Content
.initcont-wrapper {
  @include wrapper-property();

  .initcont-box {
    @include box-property();
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;

    .divider {
      @include divider-property();
    }
    
    .header-lang {
      h2, h5 {
        margin: 3px
      }

      h5 {
        color: $text-color;
      }
    }

    .content {
      margin-bottom: 20px;
    }
  }
}

// Content
.content-wrapper {
  @include wrapper-property();

   .content-box {
     @include box-property();
    flex-direction: column;
    padding: 10px;
    text-transform: uppercase;

    .divider {
      @include divider-property();
    }

    .code {
      text-transform: lowercase;

      .title {
        margin: 0 0 0 4px;
        color: $divider-color;
        font-size: 13px;
      }
    }

    .header-lang {
      width: 100%;
      font-size: 15px;
      margin: 5px 5px 5px 2px;
    }

    .header-stmt {
      width: 100%;
      font-size: 38px;
    }
  }
}

// Footer
.footer-wrapper {
  @include footer-property();
  margin-bottom: 60px;
  margin-top: auto;

  .footer-box {
    @include footer-property();
    border-radius: 6px;
    text-align: center;
    bottom: 0;
    color: $background-color;
    text-transform: uppercase;

    h3, h4 {
      margin: 0;
      letter-spacing: 5px;
    }

    ul {
      list-style-type: none;
      margin: 20px 0 0 0;
      padding: 0;

      li {
        display: inline-block;
        margin: px 22px 0 22px;

        .icon {
          width: 25px;
        }
      }
    }
  }
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}