body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.app-wrapper {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  row-gap: 40px;
}

.app-wrapper .footer {
  bottom: 0;
}

.search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 50px 0 0 0;
}

.search-wrapper .search-bar {
  height: 89px;
  width: 800px;
  background-color: #575656ce;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 25px;
}

.search-wrapper .search-bar .divider {
  height: 50px;
  width: 4px;
  background-color: #a19f9f;
  margin: auto 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-wrapper .search-bar .language-box {
  height: 80px;
  width: 50%;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-wrapper .search-bar .language-box .language-select {
  width: 100%;
  color: #444444;
  outline: none;
  z-index: 100;
}

.search-wrapper .search-bar .statement-box {
  height: 80px;
  width: 100%;
  margin: auto 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #444444;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-wrapper .search-bar .statement-box .statement-select {
  width: 100%;
  z-index: 100;
}

.search-wrapper .search-bar .button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

.search-wrapper .search-bar .button-box .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 48px;
  font-size: 30px;
  border: none;
  color: #f3f3f3;
  border-radius: 3px;
  background-color: #ada8a8d7;
}

.search-wrapper .search-bar .button-box .button:hover {
  background-color: #f1e7acd7;
  color: #5f5f5f;
}

.initcont-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.initcont-wrapper .initcont-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 800px;
  background-color: #575656ce;
  padding: 10px;
  color: #f0efef;
  border-radius: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.initcont-wrapper .initcont-box .divider {
  width: 100%;
  border: 1px solid #807e7e;
  border-width: 1px 0 0 0;
  background-color: #cfcdcd;
}

.initcont-wrapper .initcont-box .header-lang h1, .initcont-wrapper .initcont-box .header-lang h4 {
  margin: 3px;
}

.initcont-wrapper .initcont-box .header-lang h4 {
  color: #ddd8d8;
}

.initcont-wrapper .initcont-box .content {
  margin-bottom: 20px;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.content-wrapper .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 800px;
  padding: 10px;
  color: #444;
  background-color: #7c7b7bce;
  border-radius: 6px;
  color: #f0efef;
}

.content-wrapper .content-box .divider {
  border: 1px solid #807e7e;
  border-width: 1px 0 0 0;
}

.content-wrapper .content-box .header-lang {
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  margin: 5px 5px 5px 2px;
}

.content-wrapper .content-box .header-stmt {
  width: 100%;
  font-size: 38px;
  text-transform: uppercase;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: auto;
}

.footer-wrapper .footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
  text-align: center;
  bottom: 0;
  color: #a19f9f;
}

.footer-wrapper .footer-box h1 {
  margin: 10px;
  letter-spacing: 2px;
}

.footer-wrapper .footer-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-wrapper .footer-box ul li {
  display: inline-block;
  margin: auto 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*# sourceMappingURL=App.css.map */